<div class="report-card">
  <h3>Thanks for letting us know.</h3>
  <p>You just helped your community have a better car2go experience. Way to be, neighbor!</p>
  {{#link-to 'application'}}OK{{/link-to}}
</div>
