<div class="report-card">
  What's wrong?

  The car2go vehicle&hellip;
  <ul>
    <li>{{#link-to 'vehicle.report-success'}}&hellip;isn’t here.{{/link-to}}</li>
    <li>{{#link-to 'vehicle.report-success'}}&hellip;is not following parking rules.{{/link-to}}</li>
    <li>{{#link-to 'vehicle.report-success'}}&hellip;is damaged.{{/link-to}}</li>
    <li>{{#link-to 'vehicle.report-success'}}&hellip;is dirty.{{/link-to}}</li>
  </ul>
</div>
