<div class="report-card">
  <h3>What's wrong?</h3>

  <p>The car2go vehicle&hellip;</p>
  <ul class="report-option-list">
    <li>{{#link-to 'vehicle.report-success'}}&hellip; isn’t here.{{/link-to}}</li>
    <li>{{#link-to 'vehicle.report-success'}}&hellip; is not following parking rules.{{/link-to}}</li>
    <li>{{#link-to 'vehicle.report-success'}}&hellip; is damaged.{{/link-to}}</li>
    <li>{{#link-to 'vehicle.report-success'}}&hellip; is dirty.{{/link-to}}</li>
  </ul>
</div>
