<div class="report-card">
  What's wrong?

  The car2go vehicle&hellip;
  <ul>
    <li>&hellip;isn’t here.</li>
    <li>&hellip;is not following parking rules.</li>
    <li>&hellip;is damaged.</li>
    <li>&hellip;is dirty.</li>
  </ul>
</div>
