body, html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

body > .ember-view {
  height: 100%;
}

.g-map {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.g-map-canvas {
  height: 100%;
  width: 100%;
}

.vehicle-popout {
  background: #fff;
  bottom: 0;
  padding: 1em 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;
}
