{{modal-target}}

<div class="map-container">
  {{#g-map lat=30.2689940 lng=-97.7405440 zoom=16 as |context|}}
    {{#each model as |vehicle|}}
      {{g-map-marker
        context
        lat=vehicle.lat
        lng=vehicle.lng
        onClick=(route-action "handleVehicleClick" vehicle.id)
        icon="/images/car2go-map-marker.png"
      }}
    {{/each}}
  {{/g-map}}
  {{liquid-outlet class="popout-container"}}
</div>
